@import url('https://api.fonts.coollabs.io/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#time{
    font-size: 100px;
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

#date{
    font-size: 58px;
    color: white;
}

@media screen and (min-width: 2560px){
    #time{
        font-size: 150px;
    }

    #date{
        font-size: 97px;
    }
}

#timey{
    font-size: 120px;
    color: aliceblue;
}

.header{
    font-size: 70px;
    color: aliceblue;
}

.clock-1 {
    float: right;
    overflow: hidden;
  }
  
.btn-container{
    display: inline;
}

#pauseBtn {
    height: 30px;
    width: 100px;
    background-color: transparent;
    color: aliceblue;
    outline: none;
    border: solid 2px aliceblue;
    transition: 0.1s ease;
  }
  
#playBtn {
    height: 30px;
    width: 100px;
    background-color: transparent;
    color: aliceblue;
    border: solid 2px aliceblue;
    transition: 0.1s ease;
}


#pauseBtn:hover{
    height: 33px;
    width: 103px;
}

#playBtn:hover{
    height: 33px;
    width: 103px;
}

#time-container{
    float: left;

}

#time2{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 0px;
    padding: 10px;
}

#date2{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0px;
    padding: 15px;
    margin-top: 60px;
}